.message {
    position: fixed;
    top: 20px;
    left: 50%;
    display: inline-block;
    max-width: 80%;
    transform: translateX(-50%);
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
    border: 3px solid white;
}

.message.success {
    background-color: #4caf50;
}

.message.error {
    background-color: #f44336;
}

@media screen and (max-width: 800px) {
    .message {
        width: 70%;
        padding: 8px 16px;
        font-size: 14px;
    }
}