p.cat-1 {
    color: rgb(96, 165, 66);
}

p.cat-2 {
    color: rgb(255, 104, 87);
}

p.cat-3 {
    color: rgb(0, 195, 255);
}

p.cat-4 {
    color: rgb(255, 161, 80);
}

p.cat-5 {
    color: rgb(255, 192, 255);
}

p.cat-6 {
    color: rgb(184, 131, 98);
}