.home-page section {
    margin-bottom: 20px;
    border-radius: 10px;
}

.home-page a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.section-container {
    display: flex;
    gap: 20px;
}

.section-container h3 {
    margin-bottom: 20px;
}

.recommend-section {
    width: 35%;
}

/* セクション内のアイコン */
.h3-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    padding: 4px;
    background-color: white;
    color: #93bc5c;
}

.yellow .h3-icon {
    color: #d4b487
}

.blue .h3-icon {
    color: #7db0ce;
}

.section-container h4 {
    margin-bottom: 5px;
}

.summary-container h4 {
    font-size: 28px;
    margin-bottom: -4px;
}

.summary-container h4 span {
    font-size: 14px;
    margin-left: 6px;
}

.recommend-dish-container {
    padding: 20px;
    height: 392px;
    overflow-y: auto;
}


.recommend-dish-card {
    border: 0.5px solid #93bc5c;
    background-color: #93bc5c10;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

.recommend-dish-card a:hover {
    transform: scale(1.1);
    transition: all 0.2s ease;
}


.recommend-dish-card .match-rate {
    width: 80px;
    height: 80px;
    font-size: 12px;
    text-align: center;
    background-color: white;
    background-color: #93bc5c;
    color: white;
    border-radius: 50%;
    padding: 10px;
}

.recommend-dish-card .match-rate p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 2px;
}

.recommend-dish-card span {
    font-size: 12px;
    margin-left: 4px;
}

.dish-info {
    margin-left: 10px;
    margin-bottom: 10px;
}

.recommend-dish-card p.lack-ing_list {
    font-size: 12px;
    margin-top: 5px;
    font-weight: 500;
}

a.see-recipe-btn {
    display: block;
    padding: 5px 8px 5px 15px;
    border-radius: 8px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    transition: all 0.2s ease;
    background-color: #93bc5c;
    color: white;
    width: 120px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.see-recipe-btn-arrow {
    margin-left: 8px;
    margin-bottom: -2px;
    width: 14px;
    height: 14px;
    stroke-width: 2.5;
}

.quick-action-and-summary {
    width: 65%;
}


.quick-action-container,
.summary-container {
    display: flex;
    gap: 20px;
    padding: 20px;
    height: 160px;
}

.quick-action-container>a,
.summary-container>div {
    flex: 1;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    transition: 0.2s ease;
}

.quick-action-container>a:hover {
    transform: scale(1.05);
}


/* カードのスタイル */
.see-ref,
.ing-in-ref {
    border: 0.5px solid #93bc5c;
    background: #93bc5c10;
}

.add-ing,
.denger-ing {
    border: 0.5px solid rgba(255, 204, 0, 0.8);
    background: #ffbf0010;
}

.add-dish,
.ing-in-shopping-list {
    border: 0.5px solid rgba(24, 167, 211, 0.4);
    background: #19c1f410;
}


/* カード内先頭のアイコンのサイズ */
.quick-action-icon,
.summary-icon {
    min-width: 35px;
    min-height: 35px;
    margin-right: 5px;
}

/* カード内先頭のアイコン色 */
.see-ref .quick-action-icon,
.ing-in-ref .summary-icon,
.see-ref .quick-action-link {
    color: #93bc5c;
}

.add-ing .quick-action-icon,
.denger-ing .summary-icon,
.add-ing .quick-action-link {
    color: #d4b487;
}

.add-dish .quick-action-icon,
.ing-in-shopping-list .summary-icon,
.add-dish .quick-action-link {
    color: #7db0ce;
}

/* カードのタイトルのスタイル */
.see-ref h4,
.ing-in-ref h4 {
    color: #93bc5c;
}

.add-ing h4,
.denger-ing h4 {
    color: #d4b487;
}

.add-dish h4,
.ing-in-shopping-list h4 {
    color: #7db0ce;
}

.flex {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.quick-action-section .flex {
    margin-bottom: 30px;
}


.quick-action-container p,
.summary-container p {
    font-size: 12px;
}

.summary-container p {
    text-align: center;
}

.quick-action-link {
    background-color: white;
    border-radius: 50%;
    width: 28px;
    height: 28px;
    padding: 4px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

@media screen and (max-width: 1100px) {
    .section-container {
        display: block;
    }

    .recommend-section {
        width: 100%;

    }

    .recommend-dish-container {
        display: flex;
        flex-direction: column;
        height: 365px;
    }

    .quick-action-and-summary {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .quick-action-container,
    .summary-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: auto;
    }
}