.ref-columns-container {
    max-height: 50vh;
    overflow-y: auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.not_in_ref .elapsed_time {
    display: none;
}

.elapsed_time {
    font-weight: 650;
    font-size: 12px;
    color: rgb(160, 160, 160);
    margin-right: 10px;
}

@media screen and (max-width: 700px) {
    .two-columns-container {
        display: block;
    }
}

/* タブ全体 */
.tabs {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #74A343;
    border-radius: 10px;
}

/* ボタン */
.tab {
    flex: 1;
    height: 26px;
    border-radius: 9px;
    border: none;
    background-color: white;
    color: #4f4f4f;
    cursor: pointer;
    transition: ease 0.2s;
}

/* 選択中 */
.tab.active {
    background: #74A343;
    color: white;
}

/* ホバー */
.tab:hover {
    opacity: 1;
}

/* PCではタブ非表示 */
@media (min-width: 700px) {
    .tabs {
        display: none;
    }
}