.ref-columns-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列 */
    column-gap: 10px;
    /* 以下はその他の設定 */
    max-height: 56.5vh;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.ref-search-btn {
    width: 300px;
}

.not_in_ref .elapsed_time {
    display: none;
}

.elapsed_time {
    font-weight: 650;
    font-size: 12px;
    margin-top: 2px;
    color: rgb(160, 160, 160);
    margin-left: 10px;
}

.check {
    background-color:#2e7d32d4;
}

@media screen and (max-width: 900px) {
    .ref-columns-container {
        display: block;
    }

    .ref-search-btn {
        margin-right: 0;
    }

    .ref-name {
        padding: 15px 10px;
        border-radius: 10px 10px 0 0;
    }
}

@media screen and (max-width: 800px) {
    .ref-search-btn {
        width: 100%;
    }
}