.ref-columns-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列 */
    column-gap: 10px;
    /* 以下はその他の設定 */
    max-height: 56.5vh;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.flex-columns-container {
    display: flex;
    flex: 1;
    column-gap: 10px;
}

.ref-search-btn {
    width: 300px;
}

.not_in_ref .elapsed_time {
    display: none;
}

.elapsed_time {
    font-weight: 650;
    font-size: 12px;
    margin-top: 2px;
    color: rgb(160, 160, 160);
    margin-left: 10px;
}

.check {
    background-color: #2e7d32d4;
}


@media screen and (max-width: 700px) {
    .ref-search-btn {
        width: 100%;
    }

    .two-columns-container {
        display: block;
    }
}



/* タブ全体 */
.ref-tabs {
    display: flex;
    margin: 10px 0;
    border: 2px solid rgb(142, 196, 71);
    border-radius: 12px;
}

/* ボタン */
.tab {
    flex: 1;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: #4f4f4f;
    cursor: pointer;
    transition: ease 0.2s;
}



/* 選択中 */
.tab.active {
    background: rgb(142, 196, 71);
    color: white;
}

/* ホバー */
.tab:hover {
    opacity: 1;
}

/* PCではタブ非表示 */
@media (min-width: 641px) {
    .ref-tabs {
        display: none;
    }
}