.result-card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列 */
    column-gap: 20px;
    max-height: 56.5vh;
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top: none;
}

.result-card {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow:
        0 2px 6px rgba(0, 0, 0, 0.08),
        0 8px 24px rgba(0, 0, 0, 0.12);
    margin-bottom: 10px;
}

.result-card-btn-container {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    gap: 10px;
}


.result-card-btn-container a {
    display: inline-block;
    margin-left: 0;
    width: 140px;
}

.result-card-btn-container button {
    display: inline-block;
    margin-left: 0;
    width: 200px;
}

.result-page .input-area {
    display: flex;
    gap: 10px;
}

.is-lack-ing-name {
    font-size: 14px;
    margin-top: 10px;
    font-weight: 600;
    color: #4f4f4f;
}

.no-lack {
    background-color: rgb(96, 165, 66);
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-right: 5px;
}

.lack {
    background-color: rgb(255, 104, 87);
    color: white;
    padding: 3px 8px;
    border-radius: 10px;
    display: inline-block;
    width: 90px;
    text-align: center;
    margin-right: 5px;
}

@media (max-width: 800px) {
    .result-card-container {
        grid-template-columns: 1fr;
        /* 1列 */
    }
}