/* 全体のスタイル */
body {
    background-color: rgb(42, 42, 42);
}

hr {
    border: 0.1px solid rgba(128, 128, 128, 0.5);
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #F6EDE8;
}

/* Linkタグ共通スタイル */
a {
    color: white;
    text-decoration: none;
}

button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
}

/* Linkタグボタン */
.btn {
    display: block;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    line-height: 40px;
}

/* 編集ボタン，削除ボタンのコンテナ */
div.btn-container {
    display: flex;
    justify-content: flex-end;
}

.btn-main {
    width: 150px;
    background-color: royalblue;
}

/* 編集および削除ボタン(共通) */
.btn-sub {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    line-height: 30px;
    margin-right: 10px;
}

/* 編集ボタン */
.btn-sub.edit {
    background-color: royalblue;
}

/* 削除ボタン */
.btn-sub.delete {
    background-color: rgb(255, 104, 87);
}

/* アイコンのスタイル */
span.lucide-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    padding-top: 3px;
}

/* 入力エリア, カテゴリー選択 */
.input-area {
    display: flex;
    margin: 20px 0;
}

.input-area button {
    margin-left: auto;
    /* メインボタンを右端に配置 */
}

/* 材料カード */
.card {
    background: #fff;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 5px 2px rgba(0, 0, 0, 0.1);
}

.card .inner-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

/* カテゴリ */
p.cat-name {
    width: 150px;
    color: #ffffff;
    border-radius: 10px 0 10px 0;
    text-align: center;
    padding: 2px 0;
}

/* 材料名 */
p.name {
    width: 150px;
    font-weight: 500;
    text-align: center;
}

/* 料理名 */
p.dish-name {
    width: 150px;
    font-weight: 500;
    text-align: left;
    margin-left: 20px;
}

/* カテゴリー別カラー */
p.cat-1 {
    background-color: rgb(96, 165, 66);
}

p.cat-2 {
    background-color: rgb(255, 104, 87);
}

p.cat-3 {
    background-color: rgb(0, 195, 255);
}

p.cat-4 {
    background-color: rgb(255, 161, 80);
}

p.cat-5 {
    background-color: rgb(255, 163, 255);
}

p.cat-6 {
    background-color: rgb(204, 149, 255);
}

p.cat-7 {
    background-color: rgb(255, 165, 95);
}

.card input[type="checkbox"] {
    width: 25px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
}

/* 結果カード */
.result-card {
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* レシピを検索するボタン */
.btn-recipe {
    width: 120px;
    margin-left: auto;
}



/* 不足なし */
.no-lack {
    color: rgb(96, 165, 66);
}

/* 不足あり */
.lack {
    color: rgb(255, 104, 87);
}


/* メデイアクエリーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
@media screen and (max-width: 640px) {
    body {
        font-size: 12px;
    }

    .main {
        padding: 20px 30px;
    }

    .card {
        margin-bottom: 10px;
    }

    /* カテゴリ名 */
    p.cat-name {
        width: 100px;
    }

    p.name {
        width: 100px;
        padding: 0;
        text-align: center;
    }

    .btn {
        display: block;
        padding: 0px;
    }

    .btn-main {
        width: 100%;
        margin: 0 auto;
    }

    .btn-sub {
        width: 25px;
        height: 25px;
        border-radius: 8px;
        line-height: 25px;
        margin-right: 10px;
    }



    .card input[type="checkbox"] {
        width: 20px;
        height: 20px;
    }

    .result-card {
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    span.lucide-icon {
        padding-top: 0px;
    }
}