/* 全体のスタイル */
body {
    background-color: rgb(42, 42, 42);
}

hr {
    border: 0.5px solid rgba(0, 0, 0, 0.7);
}

.main {
    width: 90%;
    margin: 0 auto;
    padding: 20px 50px;
    background-color: #F6EDE8;
}

/* Linkタグ共通スタイル */
a {
    color: white;
    text-decoration: none;
}

button {
    display: block;
    width: 150px;
    height: 40px;
    background-color: rgb(64, 147, 0);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    margin-left: auto;
}

button:hover {
    opacity: 0.7;
}

/* Linkタグボタン */
.btn {
    display: block;
    height: 40px;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    margin-left: auto;
    line-height: 40px;
}

.btn:hover {
    opacity: 0.7;
}

/* 編集ボタン，削除ボタンのコンテナ */
div.btn-container {
    display: flex;
    margin-left: auto;
}

.btn-main {
    width: 150px;
    background-color: rgb(64, 147, 0);
}

/* 編集および削除ボタン(共通) */
.btn-sub {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-right: 10px;
}

/* 追加ボタン */
.add {
    background-color: rgb(64, 147, 0);
}

/* 編集ボタン */
.edit {
    background-color: rgb(255, 161, 80);
}

/* 削除ボタン */
.delete {
    background-color: red;
}

/* アイコンのサイズ */
.add .lucide-icon {
    width: 70%;
}

.edit .lucide-icon,
.delete .lucide-icon {
    width: 60%;
}

/* 入力エリア, カテゴリー選択 */
.input-area {
    display: flex;
    margin: 20px 0;
}

.input-area button {
    margin-left: auto;
    /* メインボタンを右端に配置 */
}

/* 材料カード */
.two-columns-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2列 */
    column-gap: 20px;
}

.three-columns-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* 3列 */
    column-gap: 20px;
}

.card {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-left: 20px;
    margin-bottom: 10px;
}

.inner-wrap {
    display: flex;
    align-items: center;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-left: auto;
    cursor: pointer;
}

p.name {
    font-weight: 550;
}

p.cat-name {
    font-weight: 650;
    font-size: 14px;
    margin-top: 5px;
}

.dish-card {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* 料理名 */
p.dish-name {
    font-weight: 550;
}

/* カテゴリー別カラー */
p.cat-1 {
    color: rgb(96, 165, 66);
}

p.cat-2 {
    color: rgb(255, 104, 87);
}

p.cat-3 {
    color: rgb(0, 195, 255);
}

p.cat-4 {
    color: rgb(255, 161, 80);
}

p.cat-5 {
    color: rgb(255, 163, 255);
}

p.cat-6 {
    color: rgb(204, 149, 255);
}

p.cat-7 {
    color: rgb(255, 165, 95);
}

/* 結果カード */
.result-card {
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

/* レシピを検索するボタン */
.btn-recipe {
    width: 120px;
    margin-left: auto;
}

/* 不足なし */
.no-lack {
    color: rgb(96, 165, 66);
    font-weight: 600;
}

/* 不足あり */
.lack {
    color: rgb(255, 104, 87);
    font-weight: 600;
}

/* メデイアクエリーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
@media screen and (max-width: 640px) {
    body {
        font-size: 10px;
    }

    .main {
        padding: 20px 30px;
    }

    .card-container {
        gap: 10px;
    }

    /* カテゴリ名 */
    p.cat-name {
        width: 100px;
        padding: 0;
    }

    p.name {
        width: 100px;
        padding: 0;
        text-align: center;
    }

    p.dish-name {
        margin-left: 0;
    }

    .btn {
        display: block;
        padding: 0px;
    }

    .btn-main {
        width: 100%;
        margin: 0 auto;
    }

    .btn-sub {
        width: 15px;
        height: 15px;
        line-height: 15px;
        margin-right: 5px;
        border-radius: 5px;
    }

    span.lucide-icon {
        margin-top: 2.5px;
        width: 10px;
        height: 10px;
    }

    button {
        display: block;
        width: 100%;
    }

    p.cat-name {
        width: 80px;
    }

    p.name {
        width: 80px;
    }

    .card .inner-wrap {
        padding: 5px 0;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
        margin-right: 5px;
    }

    .result-card {
        padding: 10px;
        border-radius: 10px;
    }
}